<robot name="borinot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- macro includes -->
  <xacro:include
    filename="$(find hidro_robots)/robots/common/xacro/multicopter.xacro" />

  <xacro:include
    filename="$(find hidro_robots)/robots/common/xacro/sensors.xacro" />

  <xacro:include
    filename="$(find hidro_robots)/robots/borinot/xacro/definition.urdf.xacro" />

  <!-- arguments -->
  <xacro:arg name="simulation" default="true" />
  <xacro:arg name="simulation_sync" default="false" />
  <xacro:arg name="simulation_px4" default="false" />

  <!-- properties -->
  <xacro:property name="simulation" value="$(arg simulation)" />
  <xacro:property name="simulation_sync" value="$(arg simulation_sync)" />
  <xacro:property name="simulation_px4" value="$(arg simulation_px4)" />
  <xacro:property name="robot_name" value="borinot" />

  <xacro:if value="${simulation_sync}">
    <xacro:property name="simulation_px4" value="false" />
  </xacro:if>

  <xacro:borinot_platform
    robot_name="${robot_name}"
    simulation="${simulation}"
    simulation_sync="${simulation_sync}"
    simulation_px4="${simulation_px4}"
    has_arm="false"
  />

  <xacro:if value="${simulation}">
    <xacro:if value="${simulation_sync}">
      <gazebo>
        <plugin name='eagle_ros2_gz::EagleGzSyncSimPlugin'
          filename='libeagle_gz_sync_sim_plugin.so'>
          <simulationRate>2000</simulationRate>
          <actuationRate>500</actuationRate>
          <ramStateTopic>/${robot_name}/ram_state</ramStateTopic>
          <ramControlTopic>/${robot_name}/ram_control</ramControlTopic>
          <platform_params>
            <baselinkName>borinot__base_link</baselinkName>
            <thrustToTorqueRatio>0.01393568</thrustToTorqueRatio>
            <thrustBias>1.0</thrustBias>
            <rotor_params>
              <number>0</number>
              <linkName>borinot__rotor0</linkName>
              <turningDirection>-1</turningDirection>
            </rotor_params>
            <rotor_params>
              <number>1</number>
              <linkName>borinot__rotor1</linkName>
              <turningDirection>1</turningDirection>
            </rotor_params>
            <rotor_params>
              <number>2</number>
              <linkName>borinot__rotor2</linkName>
              <turningDirection>-1</turningDirection>
            </rotor_params>
            <rotor_params>
              <number>3</number>
              <linkName>borinot__rotor3</linkName>
              <turningDirection>1</turningDirection>
            </rotor_params>
            <rotor_params>
              <number>4</number>
              <linkName>borinot__rotor4</linkName>
              <turningDirection>1</turningDirection>
            </rotor_params>
            <rotor_params>
              <number>5</number>
              <linkName>borinot__rotor5</linkName>
              <turningDirection>-1</turningDirection>
            </rotor_params>
          </platform_params>
        </plugin>
      </gazebo>
    </xacro:if>

    <xacro:unless value="${simulation_sync}">
      <xacro:unless value="${simulation_px4}">
        <gazebo>
          
          <plugin name='eagle_ros2_gz::EagleGzRamStateSensorPlugin'
            filename='libeagle_gz_ram_state_sensor_plugin.so'>
            <ramStateTopic>/${robot_name}/ram_state</ramStateTopic>
            <platform_params>
              <linkName>borinot__base_link</linkName>
            </platform_params>
          </plugin>

          <plugin name='eagle_ros2_gz::EagleGzRamFtControllerPlugin'
            filename='libeagle_gz_ram_ft_controller_plugin.so'>
            <ramControlTopic>/${robot_name}/ram_control</ramControlTopic>
            <platform_params>
              <linkName>borinot__base_link</linkName>
              <thrustToTorqueRatio>0.016894178436859097</thrustToTorqueRatio>
              <thrustBias>1.0</thrustBias>
              <rotor_params>
                <number>0</number>
                <linkName>borinot__rotor0</linkName>
                <turningDirection>-1</turningDirection>
              </rotor_params>
              <rotor_params>
                <number>1</number>
                <linkName>borinot__rotor1</linkName>
                <turningDirection>1</turningDirection>
              </rotor_params>
              <rotor_params>
                <number>2</number>
                <linkName>borinot__rotor2</linkName>
                <turningDirection>-1</turningDirection>
              </rotor_params>
              <rotor_params>
                <number>3</number>
                <linkName>borinot__rotor3</linkName>
                <turningDirection>1</turningDirection>
              </rotor_params>
              <rotor_params>
                <number>4</number>
                <linkName>borinot__rotor4</linkName>
                <turningDirection>1</turningDirection>
              </rotor_params>
              <rotor_params>
                <number>5</number>
                <linkName>borinot__rotor5</linkName>
                <turningDirection>-1</turningDirection>
              </rotor_params>
            </platform_params>
          </plugin>

        </gazebo>
      </xacro:unless>
    </xacro:unless>
  </xacro:if>

</robot>